@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.digital-clock-container {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
}

.digital-clock {
  font-size: 80px;
  font-weight: 700;
}
