@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.brake-container {
  padding-top: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pause-dots-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.pause-dot {
  width: 12px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}

.pause-alert-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 80vw;
}

.pause-alert {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  color: white;
}

.timer {
  font-family: "PT Sans", sans-serif;
  color: #ffffff99;
  font-size: 24px;
}
