.text-clock-container {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
}

.text-clock {
  width: 279px;
  font-size: 32px;
  font-weight: 700;
}
