@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.setTimer-body {
  display: flex;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
}

.set-time {
  display: flex;
  height: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.arrow {
  height: 22px;
  width: 22px;
  border: 3px solid black;
}

.arrow--left:active {
  border: 4px solid white;
  border-bottom: none;
  border-right: none;
}

.arrow--right:active {
  border: 4px solid white;
  border-bottom: none;
  border-left: none;
}

.arrow--left {
  border-right: none;
  border-bottom: none;
  transform: rotate(-45deg);
}

.minutes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
}

.minutes::after {
  content: "minutes";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: lighter;
}

.arrow--right {
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
}

.form {
  display: flex;
  flex-direction: column;
  height: 30%;
  gap: 16px;
  width: 100%;
  margin-top: 70px;

  font-size: 20px;
}

input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: auto;
  height: 100%;
}

#form-button {
  width: 279px;
  height: 51px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

#form-button:active {
  background-color: black;
  color: white;
  /* width: 270px;
  height: 45px; */
}
