.loading-page-body {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: white;
}

.loading-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
}

.subheading {
  font-family: sans-serif, "pt-sans";
  font-weight: lighter;
  font-size: 14px;
}

.Link-to-setTimer {
  text-decoration: none;
  color: inherit;
}
